@mixin centrageAbsolut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin overlay($top : 0) {
    position: absolute;
    top: $top;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin transitionBase {
    transition: .3s all ease-in-out;
}
@mixin transitionBaseSlow {
    transition: .8s all ease-in-out;
}
@mixin transitionBounce {
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@mixin flexBox-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexBox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button-a{
    display: inline-block;
    background: red;
    padding : 10px 30px;
    border: 1px solid black;
    border-radius: 5px;
    color:#fff;
    text-decoration: none;
    box-shadow: 1px 1px 7px #000000;
}

//-----------------
// header {
//     height: 100vh;
//     background: rgb(18, 166, 224);
//     h1{
//       font-size: 70px;
//       // @include transitionBase();
//       //@include transitionBase(.7s);
//       @include transitionBase($delay: 0.5);
//       @media screen and (max-width: width 100px) {
//         font-size: 20px;
//       }
//     }
//   }

//-------------
// main {
//     article {
//       background: rgb(247, 136, 154);
//       margin-bottom: $margin;
//       h2{
//         font-size: 50px;
//       }
//       a{
//        display: block;
//         color: $maincolor;
//         transition: 0.3s all ease-in-out;
//         &:hover {
//           color: darkblue;
//         }
//       }
//     }
//   }