$mainGreen: #12dabd;
$backgroundBlue: #2e399b;
$backgroundGrey:#F0F0F2;
$espace: 0 35px;

//  a{
//      display: block;
//      color: $maincolor;
//      transition: 0.3s all ease-in-out;
//      &:hover {
//          color: darkblue;
//       }